/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0;	font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table {	border-collapse: collapse; border-spacing: 0; }
/* End CSS Reset */

html, body {
	height: 100%;
	background: white url("../img/noise_lines.png") repeat;
}

body, input {
	font-family: 'Asap', sans-serif;
	font-weight: 300;
}

body {
	position: relative;
	background-color: whitesmoke;
}

h3 {
	font-style: italic;
	font-weight: 700;
	font-size: 1.3em;
	padding: 20px 0px 15px;
}

h1, .logo {
	font-weight: 700;
	font-size: 2.4em;
	margin: 0 10px;
}

p, ul {
	line-height: 1.5;
}

a {
	color: black;
}

a:hover {
	color: #5CB6FF;
}

.logo a, .logo a:hover{
	color: whitesmoke;
	text-decoration: none;
}

.row {
width: 100%;
margin: 35px auto 0;
max-width: 800px;
background: whitesmoke;
padding: 30px 40px;
}

.top-bar {
	height: 50px;
	background-color: #3e7aab;
	color: whitesmoke;
	display: block;
}

.logo, .divider, .top-bar ul {
	display: inline-block;
	line-height: 40px;
	vertical-align: bottom;
}

.pages {
	margin-right: 20px;
}

.divider {
	width: 1px;
	height: 100%;
	margin: 0 10px;
	background-color: white;
}

.top-bar nav {
	display: inline-block;
	padding: 5px 10px;
	height: 40px;
}

.song-selector {
	margin: 0 10px;
}
.song-selector li {
	display: none;
}
.song-selector .active { display: inline-block; }

.pages a, .song-selector a {
	color: whitesmoke;
	text-decoration: none;
	font-size: 1.2em;
}

.node {
	background-color: #b5ceed;
	border: 2px solid #3e7aab;
	border-radius: 10px;
	margin: 10px 20px;
	padding: 10px 10px;
	width: 200px;
	height: 25px;
	box-shadow: 3px 3px 1px #999;
}

.node input {
	display: inline-block;
	background-color: rgba(255,255,255,0.0);
	border: 0;
	size: 80px;
	width: 75%;
	padding: 0;
	margin: 0;
	height: 25px;
	font-size: 1em;
}

.size {
	display: inline-block;
	float: right;
}

.size a {
	float: right;
	width: 100%;
	height: 100%;
}

.play-node {
	width: 100%;
	font-size: 1.5em;
	color: #119E6F;
}

.new-node{
	font-size: 4em;
	color: #119E6F;
	position: absolute;
	right: 10px;
	bottom: 18px;
}

.icon-circle-empty {
	color: #e54141;
}

.about {
	position: absolute;
	font-size: 0.9em;
	color: #3e7aab;
	text-decoration: none;
	bottom: 0;
	left: 50%;
	right: 50%;
	width: 100px;
	margin-left: -50px;
	text-align: center;

}

.about a {
	font-size: 0.9em;
	font-color: #3e7aab;
	text-align: center;
	text-decoration: none;
	vertical-align: bottom;
}

.about a:hover {
	text-decoration: underline;
	color: #5CB6FF
}

.right {
	float: right;
}

#container {
	width: 100%;
	height: 90%;
	height: calc(100%-50px);
}


.new-clip {
	width: 20px;
	height: 20px;
	background: blue;
}

.node {
	position: absolute;
}

/** DRAG/DROP CLASSES **/
.dragActive { border:2px dotted orange; }
.dropHover { border:1px dotted red; }

