{% extends "base.html" %}
{% block body %}
	<div class="row">
		<p>Jams is designed to enhance the creative process of composing music. Notation software is essential for documenting a finished piece of music, but until now there have been no options for the songwriter who is looking for inspiration or organization. We've created a tool that enables the user to visualize their options and record audio clips for different parts of a song.
	</p>
	<h3>Visionaries</h3>
	<p>
		<ul>
			<!-- Write your own bios! -->
			<li><a href="http://www.danrs.ch">Dan Schlosser</a> is a sophomore at Columbia. He enjoys playing vibraphone and jacking it.</li>
		</ul>	
	</p>
</div>
{% endblock %}