<!DOCTYPE HTML>
<html>
<head>
	<!-- Stylesheets -->
	<link href="{{url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,600' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>

	<!-- Javascript -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/recorder.js') }}"></script>
<head/>
<body>
	<div class="top-bar">
		<nav class="left">
			<div class="logo">Jams</div>
			<div class="divider"></div>
			<ul class="pages">
				<li><a href="/about">About</a></li>
			</ul>
		</nav>
		<nav class="right">
			<ul class="song-selector">
				<li class="active"><a>My Current Song</a></li>
				<li><a>Song 2</a></li>
				<li><a>Another Song</a></li>
			</ul>
		</nav>
	</div>
	{% block body %}


	{% endblock %}
</body>
