{% extends "base.html" %}
{% block body %}
    <div id="container">
        <div class="node" id="node1">
        	<input type="text" placeholder="Title"/>
        	<div class="size">
                <a href="#"><div class="play-node icon-play"></div></a>
            </div>
        </div>
        <div class="greeting">
        	<p>
        		Click here to start recording!
        	</p>
        </div>
        <a href="#"><div class="new-node icon-plus-circled"></div></a>
    </div>

{% endblock body %}
